@import "tailwindcss";
@import "tw-animate-css";

@theme {
    --color-fondo: #030712;
    --color-tarjetas: #101828;
    --color-bordes: #807769; /*#1d202a */
    --color-campo: #1a2231;
    --color-blanco: #e5e7eb;
    --font-sans: "Geist", sans-serif;
}

@layer base {
  body, html {
    background: var(--color-fondo) !important;
    background-image: none !important;
  }
}
