@import "tailwindcss";

@theme {
    --color-fondo: #030712;
    --color-tarjetas: #101828;
    --color-bordes: rgb(128, 119, 105); /*#1d202a */
    --color-campo: #1a2231;
    --color-blanco: #e5e7eb;
    --font-sans: "Geist", sans-serif;
}